NEXT_PUBLIC_INSTAGRAM_HANDLE=lunaya.swimm
INSTAGRAM_ACCESS_TOKEN=
NEXT_PUBLIC_PINTEREST_BOARD_URL=https://pin.it/43ne08NLd
NEXT_PUBLIC_BRAND_EMAIL=
NEXT_PUBLIC_SHOPIFY_STORE_DOMAIN=
SHOPIFY_STOREFRONT_ACCESS_TOKEN=
KLAVIYO_API_KEY=
RESEND_API_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=
